In [1]:
import pandas as pd
from glob import glob

In [20]:
pd.read_excel('raw/Ambitious goals_2_1,59_f_lh.xlsx', skiprows=3, usecols=['Results', 'Coding']).dropna(subset=['Results', 'Coding'], thresh=1).fillna(0)

                                               Results  Coding
0    "Alright folks, let's aim high and strive to a...     1.0
1    "My distinguished colleagues, I propose that w...     1.0
2    "Dear audience, let us strive to foster a cult...     1.0
3    "Ladies and gentlemen, our objective is to era...     1.0
4    "Good afternoon, everyone. Today, I stand befo...     1.0
..                                                 ...     ...
155  "Good evening, everyone! As we gather here tod...     1.0
156  "Hello, my fellow enthusiasts! Today, I presen...     1.0
157  "Greetings, distinguished guests! My goal is t...     0.0
158  "Dear colleagues, it's time to aim higher! My ...     1.0
159  "Esteemed audience, today I unveil my vision -...     1.0

[160 rows x 2 columns]

In [3]:
ambitious = glob('raw/Ambitious*')
confidence = glob('raw/Confidence*')
contrast = glob('raw/Contrast*')
lists = glob('raw/Lists*')
similie = glob('raw/Metaphor*')
rhetoricalq = glob('raw/Rhe*')
sentiment = glob('raw/Sentiment*')
story = glob('raw/Story*')

In [25]:
def merge_files(files, tactic, save=False):
    temp = []
    for file in files:
        temp.append(pd.read_excel(file, skiprows=3, 
                                  usecols=['Results', 'Coding'],
                                  converters={'Results':str,'Coding':int}).dropna(subset=['Results', 'Coding'],
                                                                        thresh=1).fillna(0)
                   )
        
        merged = pd.concat(temp)
    if save:
        merged.to_csv(tactic+'.csv')
    return merged

In [31]:
tactics_names = ["ambitious_goals", "confidence_in_goals", "contrast", "lists_repetitions", "metaphor_similie", "rhetorical_question", "sentiment_of_the_collective", "story_anecdote"]
tactics = [ambitious, confidence, contrast, lists, similie, rhetoricalq, sentiment, story]
tactics_dict = zip(tactics_names, tactics)
print(list(tactics_dict))

[('ambitious_goals', ['raw\\Ambitious goals_1_2.26_f_lh.xlsx', 'raw\\Ambitious goals_2_1,59_f_lh.xlsx']), ('confidence_in_goals', ['raw\\Confidence in goals_1_0_f_lh.xlsx', 'raw\\Confidence in goals_2_0.58_f_lh.xlsx', 'raw\\Confidence in goals_3_1.99_f_lh.xlsx']), ('contrast', ['raw\\Contrast_10_0_f_sk.xlsx', 'raw\\Contrast_11_0_f_sk.xlsx', 'raw\\Contrast_1_7.99_f_sk.xlsx', 'raw\\Contrast_3_4,20_f_sk.xlsx', 'raw\\Contrast_4_0_f_sk.xlsx', 'raw\\Contrast_6_10.42_f_sk.xlsx', 'raw\\Contrast_7_5.80_f_sk.xlsx', 'raw\\Contrast_8_0_f_sk.xlsx']), ('lists_repetitions', ['raw\\Lists Repetitions_8_2,25_f_sk.xlsx', 'raw\\Lists_Repetitions_10_2.34_f_sk.xlsx', 'raw\\Lists_Repetitions_12_0_f_sk.xlsx', 'raw\\Lists_Repetitions_13_4,98_f_sk.xlsx', 'raw\\Lists_Repetitions_15_0,43_f_sk.xlsx', 'raw\\Lists_Repetitions_17_1,7_f_sk.xlsx', 'raw\\Lists_Repetitions_19_0_f_sk.xlsx', 'raw\\Lists_Repetitions_1_0,28_f_sk.xlsx', 'raw\\Lists_Repetitions_2_0,77_f_sk.xlsx', 'raw\\Lists_Repetitions_3_10,04_f_sk.xlsx', 'raw\\Lists_Repetitions_4_3,52_f_sk.xlsx', 'raw\\Lists_Repetitions_5_0_f_sk.xlsx', 'raw\\Lists_Repetitions_6_0_f_sk.xlsx', 'raw\\Lists_Repetitions_9_8,37_f_sk.xlsx']), ('metaphor_similie', ['raw\\Metaphor_Similie_1_0,67_f_sk.xlsx', 'raw\\Metaphor_Similie_2_1,26_f_sk.xlsx']), ('rhetorical_question', ['raw\\RhetoricalQuestion_1_0_f_lh.xlsx', 'raw\\RhetoricalQuestion_2_0_f_lh.xlsx', 'raw\\RhetoricalQuestion_3_0_f_lh.xlsx', 'raw\\RhetoricalQuestion_4_0_f_lh.xlsx', 'raw\\RhetoricalQuestion_5_0_f_lh.xlsx', 'raw\\RhetoricalQuestion_6_0_f_lh.xlsx']), ('sentiment_of_the_collective', ['raw\\Sentiment of the Collective_1_0.34_f_lh.xlsx', 'raw\\Sentiment of the Collective_2_14,7_f_lh.xlsx', 'raw\\Sentiment of the Collective_4_5,92_f_sk.xlsx', 'raw\\Sentiment of the Collective_5_4,24_f_sk.xlsx', 'raw\\Sentiments of the Collective_6_0,82_f_sk.xlsx']), ('story_anecdote', ['raw\\Story_Anecdote_1_8.04_f_sk.xlsx', 'raw\\Story_Anecdote_2_0_f_sk.xlsx', 'raw\\Story_Anecdote_3_0_f_sk.xlsx', 'raw\\Story_Anecdote_4_7.9_f_sk.xlsx', 'raw\\Story_Anecdote_5_0_f_sk.xlsx', 'raw\\Story_Anecdote_6_0_f_sk.xlsx', 'raw\\Story_Anecdote_7_0_f_sk.xlsx', 'raw\\Story_Anecdote_8_0_f_sk.xlsx'])]

In [29]:
for names, files in tactics_dict:
    print(names)
    merge_files(files, tactic=names, save=True)

contrast

ValueError: Usecols do not match columns, columns expected but not found: ['Results', 'Coding']

In [27]:
pd.read_csv("ambitious_goals.csv")

      Unnamed: 0                                            Results  Coding
0              0  "By the end of next year, we will double our m...       1
1              1  "Within the next three years, we are determine...       1
2              2  "By 2030, our company's revenue will surpass $...       1
3              3  "In the next five years, we will establish par...       1
4              4  "By 2025, we will successfully reduce our ener...       1
...          ...                                                ...     ...
1899         155  "Good evening, everyone! As we gather here tod...       1
1900         156  "Hello, my fellow enthusiasts! Today, I presen...       1
1901         157  "Greetings, distinguished guests! My goal is t...       0
1902         158  "Dear colleagues, it's time to aim higher! My ...       1
1903         159  "Esteemed audience, today I unveil my vision -...       1

[1904 rows x 3 columns]