In [1]:
import pandas as pd
from glob import glob

In [56]:
#pd.read_excel('raw/Contrast_8_0_f_sk.xlsx', skiprows=3)#.dropna(subset=['Results', 'Coding'], thresh=1).fillna(0)
pd.read_excel('raw/Contrast_8_0_f_sk.xlsx', skiprows=4, 
                                  usecols=[1,2],
                                  names = ['Results', 'Coding']
                                  #usecols=['Results', 'Coding'],
                                  ).dropna(subset=['Results', 'Coding'],
                                                                        thresh=1).fillna(0)

                                               Results  Coding
0    Standing tall, Sarah passionately argues that ...     1.0
1    Lisa firmly believes that in order to learn an...     1.0
2    Emily takes the stage, expressing her belief t...     1.0
3    Michelle passionately declares that dreams are...     1.0
4    Jennifer, with conviction, argues that friends...     1.0
..                                                 ...     ...
428  While Sarah fervently supports the idea that f...     0.0
429  Lisa passionately advocates for the importance...     0.0
430  Emily passionately argues that money provides ...     0.0
431  While Susan strongly believes in maintaining a...     0.0
432  As Jennifer passionately advocates for the imp...     0.0

[433 rows x 2 columns]

In [2]:
ambitious = glob('raw/Ambitious*')
confidence = glob('raw/Confidence*')
contrast = glob('raw/Contrast*')
lists = glob('raw/Lists*')
similie = glob('raw/Metaphor*')
rhetoricalq = glob('raw/Rhe*')
sentiment = glob('raw/Sentiment*')
story = glob('raw/Story*')

In [3]:
def merge_files(files, tactic, save=False):
    temp = []
    for file in files:
        print(file)
        temp.append(pd.read_excel(file, skiprows=4, 
                                  usecols=[1,2],
                                  names = ['Results', 'Coding']
                                  ).dropna(subset=['Results', 'Coding'],
                                                                        thresh=1).fillna(0)
                   )
        
        merged = pd.concat(temp)
    if save:
        merged.to_csv(tactic+'.csv')
    return merged

In [4]:
tactics_names = ["ambitious_goals", "confidence_in_goals", "contrast", "lists_repetitions", "metaphor_similie", "rhetorical_question", "sentiment_of_the_collective", "story_anecdote"]
tactics = [ambitious, confidence, contrast, lists, similie, rhetoricalq, sentiment, story]
tactics_dict = zip(tactics_names, tactics)
print(tactics_dict)

<zip object at 0x000001E9ADA30FC0>

In [5]:
for names, files in tactics_dict:
    print(names)
    merge_files(files, tactic=names, save=True)

ambitious_goals
raw\Ambitious goals_1_2.26_f_lh.xlsx
raw\Ambitious goals_2_1,59_f_lh.xlsx
confidence_in_goals
raw\Confidence in goals_1_0_f_lh.xlsx
raw\Confidence in goals_2_0.58_f_lh.xlsx
raw\Confidence in goals_3_1.99_f_lh.xlsx
contrast
raw\Contrast_10_0_f_sk.xlsx
raw\Contrast_11_0_f_sk.xlsx
raw\Contrast_1_7.99_f_sk.xlsx
raw\Contrast_3_4,20_f_sk.xlsx
raw\Contrast_4_0_f_sk.xlsx
raw\Contrast_6_10.42_f_sk.xlsx
raw\Contrast_7_5.80_f_sk.xlsx
raw\Contrast_8_0_f_sk.xlsx
lists_repetitions
raw\Lists Repetitions_8_2,25_f_sk.xlsx
raw\Lists_Repetitions_10_2.34_f_sk.xlsx
raw\Lists_Repetitions_12_0_f_sk.xlsx
raw\Lists_Repetitions_13_4,98_f_sk.xlsx
raw\Lists_Repetitions_15_0,43_f_sk.xlsx
raw\Lists_Repetitions_17_1,7_f_sk.xlsx
raw\Lists_Repetitions_19_0_f_sk.xlsx
raw\Lists_Repetitions_1_0,28_f_sk.xlsx
raw\Lists_Repetitions_2_0,77_f_sk.xlsx
raw\Lists_Repetitions_3_10,04_f_sk.xlsx
raw\Lists_Repetitions_4_3,52_f_sk.xlsx
raw\Lists_Repetitions_5_0_f_sk.xlsx
raw\Lists_Repetitions_6_0_f_sk.xlsx
raw\Lists_Repetitions_9_8,37_f_sk.xlsx
metaphor_similie
raw\Metaphor_Similie_1_0,67_f_sk.xlsx
raw\Metaphor_Similie_2_1,26_f_sk.xlsx
rhetorical_question
raw\RhetoricalQuestion_1_0_f_lh.xlsx
raw\RhetoricalQuestion_2_0_f_lh.xlsx
raw\RhetoricalQuestion_3_0_f_lh.xlsx
raw\RhetoricalQuestion_4_0_f_lh.xlsx
raw\RhetoricalQuestion_5_0_f_lh.xlsx
raw\RhetoricalQuestion_6_0_f_lh.xlsx
sentiment_of_the_collective
raw\Sentiment of the Collective_1_0.34_f_lh.xlsx
raw\Sentiment of the Collective_2_14,7_f_lh.xlsx
raw\Sentiment of the Collective_4_5,92_f_sk.xlsx
raw\Sentiment of the Collective_5_4,24_f_sk.xlsx
raw\Sentiments of the Collective_6_0,82_f_sk.xlsx
story_anecdote
raw\Story_Anecdote_1_8.04_f_sk.xlsx
raw\Story_Anecdote_2_0_f_sk.xlsx
raw\Story_Anecdote_3_0_f_sk.xlsx
raw\Story_Anecdote_4_7.9_f_sk.xlsx
raw\Story_Anecdote_5_0_f_sk.xlsx
raw\Story_Anecdote_6_0_f_sk.xlsx
raw\Story_Anecdote_7_0_f_sk.xlsx
raw\Story_Anecdote_8_0_f_sk.xlsx

In [6]:
pd.read_csv("ambitious_goals.csv")

      Unnamed: 0                                            Results  Coding
0              0  "Within the next three years, we are determine...     1.0
1              1  "By 2030, our company's revenue will surpass $...     1.0
2              2  "In the next five years, we will establish par...     1.0
3              3  "By 2025, we will successfully reduce our ener...     1.0
4              4  "Within the next decade, we intend to open 100...     1.0
...          ...                                                ...     ...
1897         154  "Good evening, everyone! As we gather here tod...     1.0
1898         155  "Hello, my fellow enthusiasts! Today, I presen...     1.0
1899         156  "Greetings, distinguished guests! My goal is t...     0.0
1900         157  "Dear colleagues, it's time to aim higher! My ...     1.0
1901         158  "Esteemed audience, today I unveil my vision -...     1.0

[1902 rows x 3 columns]